html {

    box-sizing: border-box;
    font-size: 100%;

}



body {
    margin: 0; padding: 0;
    background-color: #000;
    color: white;
    overflow-x: hidden;
    
}

#map {

    height: 80vh;
    width: 110vw;
    margin-bottom: 10rem;
    display: none;
    
}

h4 {

    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 2rem;
    padding: 0 3rem;
}

#button{

    padding: 35px;
    border: 8px solid white;
    border-radius: 8%;
    margin: 0 auto;        
    font-size: 30px;
    margin-left: 40vw;
    margin-top: 15rem;
    background-color: red;
    color: white;
    width: 300px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-bottom: 15rem;
    

}

#section1 {

    height: 100vh;
    overflow: hidden !important;
}

.background img{

    height: 110vh;
    width: 110vw;
    filter: brightness(0.8);
    
}

.coin{

    position: absolute !important;
    top: 20vh !important;
    left: 65vw !important;

}

.coin img {

    width: 60%;
    filter: brightness(1.2);
}

.mario img {

    position: absolute ;
    width: 400px; height: 700px;
    top: 10vh;
    left: 35vw;
    z-index: 1;
    filter: brightness(1.2);

}

.title {

    position: absolute !important;
    left: 30vw !important;
    top: 35vh !important;
    
}

.title h4{

   color: #daa520; 
   font-size: 40px;
   filter: brightness(1.5);
   
}

.mid{

    position: absolute !important;
    bottom: -20px !important;
    top: unset !important;
    left: 30px !important;
    
}

.mid img {

    z-index: 2;
    top: 20vh !important;
}

.fore {

    position: absolute !important;
    top: 40vh !important;
    left: 6vw !important;
   

    
}

.fore img { 

    
    z-index: 3;
    
}


.gm-style-iw-d {

    color: #000;
    /* font-family:  'Press Start 2P', cursive;
    font-size: 20px; */
}

.mid_title{

    margin-top: 10rem;
    border:7px solid white;
    width: 110vw;
    border-left: none;    
}

.mid_title h4{

      margin-right: 10rem ;
}
#button:hover{

    background-color: salmon;
    border: none;
}
